@model JobPortal.Models.JobSearch
@{
    ViewBag.Title = "UserProfile_Pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserProfile_Pageload</h2>
@using (Html.BeginForm("UserProfile_Pageload", "UserProfile", FormMethod.Post))
{ 

}

