
@{
    ViewBag.Title = "CompanyProfile_Pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Profile</h2>
<div>
    @Html.ActionLink("Post a Job", "JobPost_Pageload","JobPost")
</div>

